<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Admin Page</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#projects">Projects</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#info">Info on page</a>
                    </li>
                    <li class="">
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

<section id="info">
    <table>
        <tbody>
        <tr>
            <td style="width: 10%; text-align: center">id</td>
            <td style="width: 20%; text-align: center">name</td>
            <td style="text-align: center">text</td>
        </tr>
        <tr th:each="info : ${informations}">
            <td style="text-align: center" th:text="${info.id}"></td>
            <td th:text="${info.name}"></td>
            <td><textarea rows="1" cols="50" th:text="${info.text}" disabled></textarea></td>
        </tr>
        </tbody>
    </table>
    <br><br><br>

    <form th:action="@{/admin}" th:object="${pageInfo}" method="post">
        <select th:field="*{id}">
            <option th:each="info : ${informations}"
                    th:value="${info.id}" th:text="${info.name}"></option>
        </select>

        <textarea rows="4" cols="50" th:field="*{text}"></textarea>

        <input type="submit" value="Edit"/>
    </form>
</section>

<section id="projects">
    <table>
        <tbody>
        <tr>
            <td style="width: 10%; text-align: center">id</td>
            <td style="text-align: center"></td>
            <td style="text-align: center">name</td>
            <td style="text-align: center">description</td>
            <td style="text-align: center">client</td>
            <td style="text-align: center">date</td>
            <td style="text-align: center">imgfile</td>
            <td style="text-align: center">link repo</td>
        </tr>
        <tr th:each="project : ${projects}">
            <form th:action="@{/admin/editproject}" th:object="${projektportfolio}" method="post">
                <td style="text-align: center" th:text="${project.id}"></td>
                <td><textarea rows="1" th:text="${project.id}" th:field="*{id}" hidden></textarea></td>
                <td><textarea rows="1" th:text="${project.name}" th:field="*{name}"></textarea></td>
                <td><textarea rows="1" th:text="${project.description}" th:field="*{description}"></textarea></td>
                <td><textarea rows="1" th:text="${project.client}" th:field="*{client}"></textarea></td>
                <td><textarea rows="1" th:text="${project.date}" th:field="*{date}"></textarea></td>
                <td><textarea rows="1" th:text="${project.imgfile}" th:field="*{imgfile}"></textarea></td>
                <td><textarea rows="1" th:text="${project.linkrepo}" th:field="*{linkrepo}"></textarea></td>
                <td><input type="submit" value="Edit"/></td>
            </form>
        </tr>
        </tbody>
    </table>
</section>

</body>

</html>
